//::ng-deep .mat-autocomplete-panel {
//  min-width: 300px; /* Set the desired minimum width */
//  max-width: 500px; /* Set the desired maximum width */
//}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 16px;
}

.example-full-width {
  width: 100%;
}
