<app-cookie-banner></app-cookie-banner>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <button
        type="button"
        aria-label="Collapse sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Collapse nav icon">menu_open</mat-icon>
      </button>
      Capital Copilot
    </mat-toolbar>
    <mat-nav-list>
      @for (item of rootRoutes; track item.path) {
        @if (shouldShow(item)) {
          <a
            mat-list-item
            [routerLink]="item.path"
            #link="routerLinkActive"
            routerLinkActive
            [activated]="link.isActive"
          >
            {{ item.title }}
          </a>
        }
      }
      @if (this.authService.isLoggedIn()) {
        <a
          mat-list-item
          tabindex="0"
          (click)="logout()"
          (keydown.enter)="logout()"
          (keydown.space)="logout()">
          Logout
        </a>
      }
      <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="currentTheme" (change)="switchTheme(group.value)" aria-label="Theme Toggle">
        <mat-button-toggle value="dark">
          <mat-icon>dark_mode</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="light">
          <mat-icon>light_mode</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
<!--      @ if (isHandset$ | async) {-->
      @if (!drawer.opened) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <!--        [ngTemplateOutletInjector]="injector"-->

      B
<!--      <ng-container toolbarContent></ng-container>-->
      <div class="toolbar">{{ toolbarContent }}</div>
<!--      <ng-container #toolbarContainer></ng-container>-->
<!--      <ng-container [ngTemplateOutlet]="toolbarContent || defaultToolbarContent"></ng-container>-->
<!--      <ng-template #defaultToolbarContent>-->
<!--        <div>Default content</div>-->
<!--      </ng-template>-->
      A
<!--      <ng-container [ngTemplateOutlet]="content()?.tpl || noContent"></ng-container>-->
<!--      <ng-template #noContent>-->
<!--        <span>Capital Copilot</span>-->
<!--      </ng-template>-->
<!--      <app-shared-toolbar> Content </app-shared-toolbar>-->
<!--      <ng-content select="#toolbar"></ng-content>-->
<!--      <app-toolbar [content]="toolbarContent"></app-toolbar>-->
    </mat-toolbar>
<!--      <span>Capital Copilot</span>-->
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
