<ng-template #toolbarTemplate>
  <h1>Forgot Password</h1>
</ng-template>

<link rel="stylesheet" href="forgot-password.component.scss" />
<div class="forgot-container">
  @if (errors && errors.length > 0) {
    <div class="error-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Register Errors</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion multi>
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>Error Messages</mat-panel-title>
              </mat-expansion-panel-header>
              @for (error of errors; track error) {
                <div class="error-message">
                  <mat-icon color="warn">error</mat-icon>
                  {{ error }}
                </div>
              }
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  }
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <mat-card class="forgot-card">
      <mat-card-header>
        <mat-card-title>Password Recovery</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="text" id="email" formControlName="email" autocomplete="email" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!forgotForm.valid">
          Send recovery email
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
