<div class="chart-box">
  <div id="chart-candlestick">
    <apx-chart
      #chartCandle
      [series]="candleOptions.series"
      [chart]="candleOptions.chart"
      [xaxis]="candleOptions.xaxis"
      [plotOptions]="candleOptions.plotOptions"
    ></apx-chart>
  </div>
  <div id="chart-bar">
    <apx-chart
      #chartBar
      [series]="volumeOptions.series"
      [chart]="volumeOptions.chart"
      [xaxis]="volumeOptions.xaxis"
      [yaxis]="volumeOptions.yaxis"
      [dataLabels]="volumeOptions.dataLabels"
      [stroke]="volumeOptions.stroke"
      [plotOptions]="volumeOptions.plotOptions"
    ></apx-chart>
  </div>
  <div>Data: {{ dataSource | json }}</div>
</div>
