.dark-medium-contrast {
  --md-sys-color-primary: rgb(198 198 255);
  --md-sys-color-surface-tint: rgb(193 193 255);
  --md-sys-color-on-primary: rgb(5 0 92);
  --md-sys-color-primary-container: rgb(129 131 255);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(212 193 255);
  --md-sys-color-on-secondary: rgb(29 0 78);
  --md-sys-color-secondary-container: rgb(160 120 255);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 187 157);
  --md-sys-color-on-tertiary: rgb(44 12 0);
  --md-sys-color-tertiary-container: rgb(242 101 5);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 19 26);
  --md-sys-color-on-background: rgb(228 225 236);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(254 250 249);
  --md-sys-color-surface-variant: rgb(71 70 75);
  --md-sys-color-on-surface-variant: rgb(204 201 208);
  --md-sys-color-outline: rgb(164 162 168);
  --md-sys-color-outline-variant: rgb(132 130 136);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(43 42 42);
  --md-sys-color-inverse-primary: rgb(53 53 178);
  --md-sys-color-primary-fixed: rgb(225 223 255);
  --md-sys-color-on-primary-fixed: rgb(4 0 77);
  --md-sys-color-primary-fixed-dim: rgb(193 193 255);
  --md-sys-color-on-primary-fixed-variant: rgb(32 28 160);
  --md-sys-color-secondary-fixed: rgb(233 221 255);
  --md-sys-color-on-secondary-fixed: rgb(23 0 65);
  --md-sys-color-secondary-fixed-dim: rgb(208 188 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(67 0 159);
  --md-sys-color-tertiary-fixed: rgb(255 219 204);
  --md-sys-color-on-tertiary-fixed: rgb(36 9 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 182 148);
  --md-sys-color-on-tertiary-fixed-variant: rgb(96 35 0);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(58 57 57);
  --md-sys-color-surface-container-lowest: rgb(14 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 28);
  --md-sys-color-surface-container: rgb(32 31 32);
  --md-sys-color-surface-container-high: rgb(42 42 42);
  --md-sys-color-surface-container-highest: rgb(53 52 53);
  --md-extended-color-custom-color1-color: rgb(111 225 143);
  --md-extended-color-custom-color1-on-color: rgb(0 27 8);
  --md-extended-color-custom-color1-color-container: rgb(45 165 90);
  --md-extended-color-custom-color1-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color2-color: rgb(255 186 178);
  --md-extended-color-custom-color2-on-color: rgb(55 0 2);
  --md-extended-color-custom-color2-color-container: rgb(253 87 78);
  --md-extended-color-custom-color2-on-color-container: rgb(0 0 0);
}
