.light-high-contrast {
  --md-sys-color-primary: rgb(6 0 98);
  --md-sys-color-surface-tint: rgb(77 78 201);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(34 31 162);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(43 0 109);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(81 0 192);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(64 21 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(116 44 0);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(78 0 2);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(140 0 9);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(252 248 255);
  --md-sys-color-on-background: rgb(27 27 34);
  --md-sys-color-surface: rgb(252 248 248);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(228 225 232);
  --md-sys-color-on-surface-variant: rgb(36 35 40);
  --md-sys-color-outline: rgb(67 66 71);
  --md-sys-color-outline-variant: rgb(67 66 71);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 48);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(236 234 255);
  --md-sys-color-primary-fixed: rgb(47 46 172);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(19 8 152);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(81 0 192);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(55 0 135);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(116 44 0);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(81 28 0);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(221 217 217);
  --md-sys-color-surface-bright: rgb(252 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 243 242);
  --md-sys-color-surface-container: rgb(241 237 237);
  --md-sys-color-surface-container-high: rgb(235 231 231);
  --md-sys-color-surface-container-highest: rgb(229 226 225);
  --md-extended-color-custom-color1-color: rgb(0 41 16);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(0 78 36);
  --md-extended-color-custom-color1-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color2-color: rgb(78 0 4);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(140 0 13);
  --md-extended-color-custom-color2-on-color-container: rgb(255 255 255);
}
