<ng-template #toolbarTemplate>
  <h1>Investment Research Assistant</h1>
</ng-template>

<div class="home-container">
  <mat-card class="hero-card">
    <mat-card-header>
      <!--      <mat-card-title>by Perpetuator</mat-card-title>-->
      <mat-card-subtitle>Your Ultimate AI-Powered Security, Asset, and Crypto Analysis Tool</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Capitol Copilot AI is your comprehensive solution for advanced financial analysis, asset management, equity
        research, and news aggregation. Our cutting-edge tool provides:
      </p>
      <ul>
        <li>Discounted Cash Flow Valuations</li>
        <li>Squeeze Indicator Analysis Across Multiple Time Frames</li>
        <li>Real-time Crypto Market Monitoring</li>
        <li>Customizable News Feeds Tailored to Your Interests</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <div class="feature-section">
    <mat-card class="feature-card">
      <mat-card-title>Discounted Cash Flow Valuations</mat-card-title>
      <mat-card-content>
        <p>
          Analyze and predict the future value of your investments with our advanced DCF model, ensuring that you make
          informed decisions.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="feature-card">
      <mat-card-title>Squeeze Indicator Analysis</mat-card-title>
      <mat-card-content>
        <p>
          Monitor potential price squeezes across multiple time frames to capitalize on market opportunities with our
          proprietary squeeze indicator.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="feature-card">
      <mat-card-title>Crypto Market Monitoring</mat-card-title>
      <mat-card-content>
        <p>
          Stay ahead in the volatile crypto market with real-time monitoring and analysis of key assets, ensuring that
          you never miss a beat.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="feature-card">
      <mat-card-title>News Aggregation</mat-card-title>
      <mat-card-content>
        <p>
          Receive the latest news and updates tailored to your preferences, aggregating information from top sources in
          the industry.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cta-section">
    <mat-card class="cta-card">
      <mat-card-content>
        <h2>Get Started with Capitol Copilot AI Today!</h2>
        <p>
          Join the ranks of savvy investors and security professionals who rely on Capitol Copilot AI to stay ahead of
          the curve. Sign up now and unlock the full potential of our tools.
        </p>
        <button mat-raised-button color="accent" routerLink="/register">Sign Up</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
